<html>
<head>
  <title>Empty Form</title>
</head>
<body>
<h1>No Values Submitted</h1>
  <p>No values were submitted, so nothing can be displayed.</p>
<p>Maybe try <a href="{{ url_for("index") }}">again</a>?</p>
</body>
</html>
