/*
 * Styles for ACP control calculator
 * (Fill in as desired)
 *
 * These should not conflict with bootstrap's CSS, but they may 
 * add more specific styles. 
 */
#messages {
	color: red;
	font-size: 26px;
	font-family: 'Anton', sans-serif;
}
